body
{
	background: lightblue;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#Buton{
	width: 200px;
	background-color: rgb(136, 183, 236);
	border-radius: 25px;
	font-size: bold;
}
#MainDiv{
	width: 800px;
	height: 500px;
	background-color: aliceblue;
	border-radius: 25px;
}
#PlayerBox1{
	width: 300px;
	height: 40px;
	border-radius: 5px;
	border-width: 2px;
	font: 400;
}
#PlayerBox2{
	width: 300px;
	height: 40px;
	border-radius: 5px;
	border-width: 2px;
	font: 400;
}
